.container{
    width: 100%;
    min-height: 23px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgba(140, 183, 155, 0.811);
    font-family: 'Exo', sans-serif;
    position: sticky;

    &__logo{
       font-size: 25px;
       margin-left: 10px;
       &:hover{
        text-shadow: 2px 2px 4px rgba(73, 163, 110, 0.601);
        
    }
    }
    &__nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        font-size: 20px;
    }
    &__li{
        display: flex;
        margin-right: 21px;
        &:hover{
            text-shadow: 3px 3px 5px rgba(47, 97, 58, 0.5);
        }
    }
}
a{
    text-decoration: none;
    color: black;
}
.hamburger{
    display: none;
    cursor: pointer;
    &__bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: rgba(36, 73, 36, 0.627);
    }
}

@media screen and (max-width:768px) {
            .container{
                max-width: 700px;
                width: 100%;
            }
            .container__logo{
                font-size: 18px;
            }
            .container__li{
                font-size: 16px;
            }
}
@media screen and (max-width:320px) {
    .container{
        max-width: 320px;
        width: 100%;
        &__logo{
            font-size: 10px;
        }  
        &__li{
            display: none;
        } 
    }
    .hamburger{
        display: block;
        margin: auto;
    }
}